html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
/* img, */
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* width: 100%; */
  /* background-size: 2000px;
  width: auto;
  height: 3000px;
  background-size: contain;
  background-repeat: no-repeat; */
}

.App {
  border-top: 1px solid transparent;
}

h1 {
  font-size: 34px;
  color: white;
  /* width: 280px; */
  /* padding-top: 250px; */
  /* height: 500px; */
  /* align-content: space-around; */
  position: relative;
  /* text-align: center; */
}

.mainHome {
  /* display: flex; */
  /* padding-right: 200px; */
  /* height: 2000px; */
  /* justify-items: flex-end; */
  /* flex-direction: row-reverse; */
}

.button {
  background-color: salmon;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
}

.welcome {
  background: url("./img/friend.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.titleWrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleWrapper h1 {
  color: whitesmoke;
  margin: 0 40% 30px 0;
  padding-left: 100px;
}

.titleWrapper button {
  width: fit-content;

  margin-left: 150px;
}

.compan {
  width: 100vw;
  padding-right: 0px;
  margin: 10vh 0;
}

.carouselWrapper {
  width: 100vw;
}

.sliderImages {
  width: 400px;
  height: auto;
  padding: 0 10px;
}

.login {
  display: flex;
  justify-content: center;
}

.logme {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signme {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loco {
  /* height: 600px; */
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  justify-content: center;
  /* padding-bottom: 500px; */
  /* padding-right: 200px; */
  margin-top: 80px;
  padding: 4% 0;
  /* padding: 0 10vw 0; */
}

.model {
  padding: 0 10px;
  display: flex;

  align-items: center;
  /* position: relative; */
  flex-direction: column;
}

.smallImages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* position: absolute; */
  padding-top: 10vh;
}

.modelImagesBtn {
  background: none;

  border: none;
  padding: 0;
  margin: 1%;
  width: 130px;
  height: auto;
  cursor: pointer;
}

.modelImages {
  border-radius: 5px;
}

.about {
  display: flex;
  font-size: 35px;
  width: 60%;
  /* height: 810px; */
  /* position: absolute; */
  flex-direction: column;
  justify-content: center;
  /* padding-top: 95px; */
  /* padding-left: 500px; */
  align-items: flex-start;
  margin: 100px 0;
  line-height: 3rem;
}

.name {
  display: flex;
  font-size: 50px;
}

.aboutme {
  font-size: 20px;
}

.abouthim {
  font-size: 22px;
}

.bookme {
  background-color: salmon;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  /* width: 30%; */
  margin-top: 30px;
  cursor: pointer;
}

.aboutContentWrapper {
  display: flex;
}

.modelAboutTitles {
  color: salmon;
  text-align: right;
  margin-right: 5%;
}

.calendar {
  width: 30%;
}

.call {
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  justify-content: center;
  /* padding-bottom: 500px; */
  /* padding-right: 200px; */
  margin-top: 80px;
  padding: 4% 0;
  /* padding: 0 10vw 0; */
}
