.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
}

.title {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1px;
  margin-left: 35px;
}

.title a {
  color: rgb(231, 62, 118);
  text-decoration: none;
}

nav {
  top: 0;
  background-color: rgba(251, 251, 251, 0.901);
  display: flex;
  justify-content: space-between;
  /* padding: 10px 20px; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  align-items: center;
  height: 80px;
  position: absolute;
  width: 100%;
}

nav ul {
  display: inline-block;
  align-items: center;
  list-style-type: none;
}

nav li {
  margin-right: 20px;
  display: inline;
}

nav li p {
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

nav button {
  background-color: salmon;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 4px;
}

nav button:hover {
  background-color: salmon;
  color: black;
}

nav button a {
  color: white;
  text-decoration: none;
}

@media (max-width: 550px) {
  .nav,
  .container,
  .title {
    display: block;
    /* flex-direction: row; */
    font-size: 40px;
  }
}

@media (max-width: 550px) {
  .nav button {
    font-size: 5px;
  }
}
